{% extends 'base.html' %}

{% block content %}
<div class="main-block" style="margin-top: 500px; width: 500px;">
  <div class="search-container" style="height: 120px; width: 120px align-items: center; margin-right: 20px;">
    <div style="display: flex; flex-direction: column; align-items: center; padding: 20px;border: none;" class="search-box">
      <form id="search-input" method="get" action="{% url 'recipe_search' %}">
        <div class="search-form-elements" style="align-items: center">
          <input type="text" id="search-text" name="keyword" autocomplete="off" style="align-items: center; width: 100%; margin: 10px; font-size: 16px; border: none; border-bottom: 2px solid #ccc;"/>
          <div style="margin-left: 60px;">
          <select id="category-filter" name="category-filter">
            <option value="">All categories</option>
            {% for category in categories %}
              <option value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="margin-left: 100px; margin-top: 5px;">
          <input type="submit" value="Search" style="background-color: #ff6f00; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;"/>
        </div>
        </div>
      </form>
      <form id="search-input-all" method="get" action="{% url 'recipe_search' %}">
        <input type="hidden" name="keyword" value="">
        <input type="hidden" name="category-filter" value="">
      </form>
    </div>
  </div>
</div>

<script>
  // Function to submit the search form with category filter
  function submitFormWithCategoryFilter() {
    var searchForm = document.getElementById("search-input");
    var categoryFilter = document.getElementById("category-filter");
    var keyword = document.getElementById("search-text").value;
    var categoryValue = categoryFilter.options[categoryFilter.selectedIndex].value;
    
    // Set the hidden fields values in the second form
    var searchFormAll = document.getElementById("search-input-all");
    searchFormAll.elements["keyword"].value = keyword;
    searchFormAll.elements["category-filter"].value = categoryValue;

    // Submit the form with the category filter
    searchFormAll.submit();
  }

  // Event listener for the search button
  var searchButton = document.getElementById("search-input").querySelector("input[type='submit']");
  searchButton.addEventListener("click", function(event) {
    event.preventDefault();
    submitFormWithCategoryFilter();
  });
</script>
{% endblock %}
